/*header*/
header{text-align:center; background-image: url("img/IMG_20180110_083523889ch.jpg"); background-size: cover}
#creative {text-align: left}
nav {text-align: right}
/*header*/
/*main*/
/*chica*/

.girl {
width: 300px;
height: 193px;
image-orientation: center;
position: absolute;

}
.fondogirl {
width: 122px;
height: 122px;
}
.corazon {
    width: 30px;
    height: 26.25px;
    position: absolute;
    top 15.88px
    right 21px;

}
.textgirl {
width: 300px;
height: 336px;
background-color: #F3F3F3;
text-align: center;
font-size: 30px;
}
#namegirl {
    font-size:30px;
    font-family: roboto;
    font-weight: 400;
    text-align: center;
    font-style: normal;
}
#descgirl {
    font-size:16px;
    font-family: roboto;
    font-weight: 400;
    text-align: center;
    font-style: normal;
}
/*chica*/
/*main*/
